<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shaddow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Blog Posts</h3>
                    <p>From here you can manage your blog posts.</p>
                    <button class="btn btn-info bg-theme mb" routerLink="/posts/new"  >Add New Post</button>
                    <button class="btn btn-warning ml-2" routerLink = '/dashboard' >Back To Dashboard</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shaddow-effect">
                <div class="card-body">
                    <table class="table row-border hover ">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Post Image</th>
                                <th>Title</th>
                                <!-- <th>Excerpt</th> -->
                                <th>Category</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor = 'let post of postArray;let i = index'>
                                <td data-title="No: " width="10">{{i + 1}}</td>
                                <td data-title="Post Image: "><img src="{{post.postImgPath}}" alt="" class="img img-fluid"></td>
                                <td data-title="Title: " >{{post.title | maxLength : 30}}</td>
                                <!-- <td width="300">{{post.excerpt}}</td> -->
                                <td data-title="Category: ">{{post.category.category}}</td>
                                <td data-title="Date: ">{{post.createdAt.toMillis() | date}}</td>
                                <td  class="d-flex flex-column justify-content-center">
                                    <button class="btn btn-sm btn-warning" routerLink="/posts/new" [queryParams]="{id:post.id}"> Edit </button>
                                    <button class="btn btn-sm btn-danger " (click)="onDelete(post.postImgPath,post.id)"> Delete </button>
                                    <button *ngIf="!post.isFeatured" class="btn btn-sm btn-success  " (click)="onFeatured(post.id,true)"  > Mark Featured </button>
                                    <button *ngIf="post.isFeatured" class="btn btn-sm btn-info " (click)="onFeatured(post.id,false)" > Remove Featured </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
